* {
    color: white;
}
html {
    background-image: url("../img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
    padding: 0;
}

a {
    all: unset;
}

.lists {
    border: 1px solid red;
    background-color: #7a7a7a;
    opacity: 0.8;
    overflow: auto;
    height: 90%;
}

.lists:hover {
    opacity: 0.9;
}

.plus-container {
    margin: auto;
    height: 75%;
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

#plus {
    width: auto;
}

#description {
    margin: 0;
    width: 500px;
    height: 200px;
    resize: none;
}