* {
    list-style-type: none;
}
html {
    background-image: url("../img/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    padding: 0;
}

a {
    all: unset;
    color: white;
}

.lists {
    border: 1px solid red;
    background-color: #7a7a7a;
    opacity: 0.8;
    overflow: hidden;
    height: 18em;
    color: white;
}

.lists:hover {
    opacity: 0.9;
    overflow: auto;
}

.plus-container {
    margin: auto;
    height: 75%;
}

#edit-button {
    margin-left: 18em;
}



#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

#create-container {
    color: white;
}

#plus-container {
    margin: auto;
}

#description {
    margin: 0;
    width: 31.25em;
    height: 12.5em;
    resize: none;
}